html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

body {
  background-color: #000000;
  color: #555555;
}
h4 {
  font-family: sans-serif;
  color: #555555;
  font-size: 16px;
}
h3 {
  font-family: sans-serif;
  color: #555555;
}
p {
  font-family: sans-serif;
  color: #555555;
  font-size: 14px;
}
a {
  font-family: sans-serif;
  color: #d15423;
  text-decoration: none;
}

#displayCanvas {
  z-index: 0;
}

#displayCanvas:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.color-automata .dg .property-name {
  width: 50%;
}

.color-automata .dg .boolean .property-name {
  width: 100%;
}

.color-automata .dg .c {
  width: 50%;
}

#displayCanvas,
.loading #loader {
  display: block;
  opacity: 0.75;
}

#loader {
  position: absolute;
  background-color: #3f3f3f;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#loader h1 {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: green;
}

html {
  visibility: visible;
  opacity: 1;
}
